*
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-bottom: 10px;
}

header
{
	padding-left: 100px;
	padding-top: 40px;
	background-color: #32B5CCCB;
	color: #CC3247FF;
	background-image: linear-gradient(to left, #eeeeee, #eeeeee, #32B5CCCB);
}

p
{
	margin: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	display: inline-block;
	width: 40%;
}

body
{
	background-color: #eeeeee;
	background-image: linear-gradient(to bottom, #eeeeee, #CF3B2FFF, #007F0EFF, #eeeeee)
}

.content
{
	background-color: #fff;
	padding-top: 20px;
	margin: 0 auto;
	width: 80%;
	height: 8500px;
	border-radius: 50px;
	margin-bottom: 50px;
}

.title
{
	font-size: 20px;
	text-align: center;
	width: 80%;
	border-radius: 30px;
	background-image: linear-gradient(270deg, white, #F38D0BD9, #F38D0BD9, #F38D0BD9, white);
	padding: 100px;
	margin: 0 auto;
}

.mainPage
{
	padding: 50px;
}

footer
{
	background: #fff;
	text-align: center;
	padding: 20px;

	width: 100%;

	clear: both;
}

img
{
	margin: 10px;
	border-radius: 10px;
	display: inline-block;
}